html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.modal-body { 
    max-height: 350px; 
	margin-left: 20px;
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }
#panel {
  position: absolute;
  bottom: 30px;
  left: 15%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#header {
  position: absolute; 
  width: 100%; 
  height: 60px; 
  background-color: rgba(34,53,95,0.8);
  z-index: 999;
  text-align: center;
  vertical-align: middle;
}
#locationform {
  position: relative;
  display: inline;
  z-index: 1000;
  color: #FFF;
  top: 12px;
  margin: 0 auto;
}
input {
  display:inline;   
}
.gmnoprint img {
    max-width: none; 
}
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}