html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#hospitals_table {
  overflow-y: hidden;
}

#hospitals_table:hover {
 overflow-y: scroll;
}

table.imagetable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  overflow: scroll;
}

table.imagetable th {
  background:#b5cfd2 url('cell-blue.jpg');
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

table.imagetable td {
  background:#dcddc0 url('cell-grey.jpg');
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

#tabstrip {
  padding: 0em;
  width: 75%;
}

.tab {
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
  cursor: pointer;
  float: left;
  margin: 0 0.2em 0 0;
  min-width: 3em;
  overflow: hidden;
  padding: 0.625em;
  white-space: nowrap;
}

.activeTab {
  background-color: #F0FFFF;
}

.inactiveTab {
  background: -webkit-linear-gradient(top, #00B2EE, #F0FFFF);
  background: -moz-linear-gradient(top, #00B2EE, #F0FFFF);
  background: -ms-linear-gradient(top, #00B2EE, #F0FFFF);
  background: -o-linear-gradient(top, #00B2EE, #F0FFFF);
  background: linear-gradient(top, #00B2EE, #F0FFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B2EE', endColorstr='#F0FFFF')";
  background-color: #a0a0a0;
}

.activePanel {
  background-color: #F0FFFF;
  border-bottom-left-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
  clear: both;
  display: block;
  padding: 1em;
}

.inactivePanel {
  display: none;
}

.modal-body { 
  max-height: 350px; 
  margin-left: 20px;
  padding: 15px; 
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch; 
}

#panel {
  position: absolute;
  bottom: 30px;
  left: 15%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#header {
  position: absolute; 
  width: 100%; 
  height: 60px; 
  background-color: rgba(34,53,95,0.8);
  z-index: 999;
  text-align: center;
  vertical-align: middle;
}

#locationform {
  position: relative;
  display: inline;
  z-index: 1000;
  color: #FFF;
  top: 12px;
  margin: 0 auto;
}

input {
  display:inline;   
}

.gmnoprint img {
    max-width: none; 
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}